@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
	width: 100%;
	font-size: medium;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.root_light {
	color: black;
	input {
		margin: 2px;
		outline: none;
		padding: 5px;
		background-color: rgba(143, 143, 143, 0.342);
	}
	background: linear-gradient(to bottom, transparent, rgb(231, 251, 255)) rgb(228, 243, 255);
}

.root_dark {  
	color: white;
	input {
		margin: 2px;
		outline: none;
		padding: 5px;
		background-color: black;
	}
	background: linear-gradient(to bottom, transparent, rgb(0, 34, 47)) rgb(0, 41, 52);
} 